* {
    padding: 05;
    margin: 0%;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    
}

header {
    background-color: tomato;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

main {
    background-color: turquoise;
    display: flex;
    flex-grow: 6;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

footer {
    background-color: violet;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}