* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-areas: 
    "nav header header header header header"
    "nav article article article aside aside"
    "nav article article article aside aside"
    "nav article article article aside aside"
    "nav footer footer footer footer footer"
    ;
    grid-auto-rows: 25vh;
    padding: 10px;
}

nav {
    grid-area: nav;
    background-color: thistle;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    display: grid;
    column-width: 100px;
}

header {
    grid-area: header;
    background-color: tomato;
    justify-content: center;
    align-items: center;
    height: 100%;
    display: grid;
}

article {
    grid-area: article;
    background-color: aquamarine;
    justify-content: center;
    align-items: center;
    height: 100%;
    display: grid;
}

aside{
    grid-area: aside;
    background-color: wheat;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    display: grid;
}

footer {
    background-color: blueviolet;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    display: grid;
}